<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
  <p><a href="/auth/strava">Login with Strava</a></p>
<% } else { %>
	<h2>Hello <%= user.displayName %>.</h2>
  <p><img src="<%= user.photos[0].value %>"></p>
  <p>ID: <%= user.id %></p>
  <p><a href="/stats">Show me the stats!</a></p>
<% } %>
